
.piedepagina{
	color: black;
	margin-top: 50px;
}

.menu{
	text-align: center;
	padding: 20px 0px;
}

.espaciotexto{
	padding-top: 20px;
}
#iconos{
	padding-right: 50px;
}

.fondomenu{
	background-image:url("../img/fondo3.jpeg");
	height: 600px;
	padding: 0px 90px;
	color: white;
}

.textomenu{
	text-align: center;
	text-align: left;
	padding-top: 200px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
.imagenfondo{
	padding-left: 210px;
}
.trabajos{
	padding-top: 50px;
	padding-left: 70px;
}
.fondo{
	background-color: #1E6B64;
	color: white;
	padding: 70px 70px;
}
.naranja{
	color: #E9741A;
}
.competencias{
	background-color: black;
	padding: 50px 50px;
	color: white;
	margin-top: 50px;
}
.centrado{
	text-align: center;
}
.icono{
	padding-bottom: 20px;
}
.branding{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}
.espacio{
	padding-top: 10px;
}